<!doctype html>
    <html lang="en">
      <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

             <!-- Font Awsome HTML -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="stylesheet" href="/style/style.css">

      </head>
      <body id="body">
          <div class="container">
            <h2>Edit your Citation </h2>
            <form action="/update" method="POST">
              <div class="row100">
                <div class="col">
                  <div class="inputBox">
                     <input type="hidden" name="id" required="required" value="<%= auteur.id %>">
   
                  </div>
                </div>   
             </div>   
            <div class="row100">
               <div class="col">
                 <div class="inputBox">
                    <input type="text" name="name" required="required" value="<%= auteur.name %>">
                    <span class="text">Name</span>
                    <span class="line"></span>
                 </div>
               </div>   
            </div>   
            <div class="row100">
              <div class="col">
                <div class="inputBox">
                   <input type="text" name="biographique" required="required" value="<%= auteur.biographique %>">
                   <span class="text">biographique</span>
                   <span class="line"></span>
                </div>
              </div>   
           </div>   
            <div class="row100"> 
              <div class="col">
                <div class="inputBox textarea">
                  <textarea required="required" value="<%= auteur.description %>" name="description"></textarea> 
                  <span class="text">your citation here</span>
                  <span class="line"></span>
                </div>
              </div> 
            </div>   
            <div class="row100">
              <div class="col">
                <div class="inputBox">
                   <input type="file" name="img" required="required" value="<%= auteur.img %>" class="file">
                   <span class="text">Upload your picture</span>
                   <span class="line"></span>
                </div>
              </div>   
           </div>   
            <div class="row100"> 
              <div class="col">
                 <input class="btn" type="submit" value="Send">
              </div>
            </div>           
            </div>
          </form>
          </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
      </body>

</html>